services:
    kafka-1:
        hostname: kafka-1
        container_name: kafka-1
        build:
            context: .
            args:
                - NODE_ID=1
                - ADVERTISED_PORT=19094
        volumes:
            - ./kafka:/kafka
        environment:
            - KAFKA_DEBUG=1
            # JDWP: Simple TCP, no "call back" needed -- listen on/bind to all interfaces (via wildcard, i.e., 0.0.0.0). Important because docker forwards port mapping traffic to the container's eth0 interface
            - JAVA_DEBUG_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
            # RMI: like Kafka, not a simple TCP, but requires "call back" -- separating bind port and advertised port. 
            # But worse than Kafka, same jmxremote.port and jmxremote.rmi.port is used for BOTH bind and call back.
            # Tell JMX clients to use "localhost" to connect to JMX server in the container when in local machine by default
            - "KAFKA_JMX_OPTS=-Djava.rmi.server.hostname=${EXTERNAL_HOSTNAME:-localhost} \
                -Dcom.sun.management.jmxremote=true \
                -Dcom.sun.management.jmxremote.authenticate=false  \
                -Dcom.sun.management.jmxremote.ssl=false \
                -Dcom.sun.management.jmxremote.port=19101 \
                -Dcom.sun.management.jmxremote.rmi.port=19101"
        ports:
            - "19094:9094" # client listener
            - "15005:5005" # jvm debug 
            - "19101:19101" # jmx

    kafka-2:
        hostname: kafka-2
        container_name: kafka-2
        build:
            context: .
            args:
                - NODE_ID=2
                - ADVERTISED_PORT=29094
        volumes:
            - ./kafka:/kafka
        environment:
            - KAFKA_DEBUG=1
            - JAVA_DEBUG_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
            - "KAFKA_JMX_OPTS=-Djava.rmi.server.hostname=${EXTERNAL_HOSTNAME:-localhost} \
                -Dcom.sun.management.jmxremote=true \
                -Dcom.sun.management.jmxremote.authenticate=false  \
                -Dcom.sun.management.jmxremote.ssl=false \
                -Dcom.sun.management.jmxremote.port=29101 \
                -Dcom.sun.management.jmxremote.rmi.port=29101"
        ports:
            - "29094:9094" # client listener
            - "25005:5005" # jvm debug 
            - "29101:29101" # jmx

    kafka-3:
        hostname: kafka-3
        container_name: kafka-3
        build:
            context: .
            args:
                - NODE_ID=3
                - ADVERTISED_PORT=39094
        volumes:
            - ./kafka:/kafka
        environment:
            - KAFKA_DEBUG=1
            - JAVA_DEBUG_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
            - "KAFKA_JMX_OPTS=-Djava.rmi.server.hostname=${EXTERNAL_HOSTNAME:-localhost} \
                -Dcom.sun.management.jmxremote=true \
                -Dcom.sun.management.jmxremote.authenticate=false  \
                -Dcom.sun.management.jmxremote.ssl=false \
                -Dcom.sun.management.jmxremote.port=39101 \
                -Dcom.sun.management.jmxremote.rmi.port=39101"
        ports:
            - "39094:9094" # client listener
            - "35005:5005" # jvm debug 
            - "39101:39101" # jmx
