services:
    kafka-1:
        hostname: kafka-1
        container_name: kafka-1
        image: kafka
        build: .
        volumes:
            - ./kafka:/kafka
        environment:
            - EXTERNAL_HOSTNAME=localhost
            - NODE_ID=1
            - ADVERTISED_PORT=19094
            - KAFKA_DEBUG=1
            - RMI_JMX_BIND_PORT=19101
        ports:
            - "19094:9094" # client listener
            - "15005:5005" # jvm debug 
            - "19101:19101" # jmx

    kafka-2:
        hostname: kafka-2
        container_name: kafka-2
        image: kafka
        build: .
        volumes:
            - ./kafka:/kafka
        environment:
            - EXTERNAL_HOSTNAME=localhost
            - NODE_ID=2
            - ADVERTISED_PORT=29094
            - KAFKA_DEBUG=1
            - RMI_JMX_BIND_PORT=29101
        ports:
            - "29094:9094" # client listener
            - "25005:5005" # jvm debug 
            - "29101:29101" # jmx

    kafka-3:
        hostname: kafka-3
        container_name: kafka-3
        image: kafka
        build: .
        volumes:
            - ./kafka:/kafka
        environment:
            - EXTERNAL_HOSTNAME=localhost
            - NODE_ID=3
            - ADVERTISED_PORT=39094
            - KAFKA_DEBUG=1
            - RMI_JMX_BIND_PORT=39101
        ports:
            - "39094:9094" # client listener
            - "35005:5005" # jvm debug 
            - "39101:39101" # jmx
